---
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
	description: string;
	image?: string;
	canonical: string;
}

const { pathname } = Astro.url;

const {
	title,
	description,
	image = "https://adrianhdez.tech/img/me.webp",
	canonical,
} = Astro.props;

const canonicalURL = new URL(canonical, Astro.url);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/icon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />
		<meta
			name="keywords"
			content="programador, developer, dev, development, app, web, adrianhdez, astro, webdev "
		/>

		<meta property="og:image" content={new URL(image, Astro.url)} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:site_name" content="Adrián Hdez" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@AdrianH_2" />
		<meta name="twitter:creator" content="@AdrianH_2" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL(image, Astro.url)} />

		<link rel="apple-touch-icon" href={image} />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body
		class={`w-full h-full flex flex-col px-3 sm:px-4 ${pathname == "/social" || pathname == "/social/" ? "bg-gradient-to-l from-slate-300 to-slate-500 dark:bg-gradient-to-l dark:from-slate-900 dark:to-slate-700" : ""}`}
	>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
</style>
